header {
  background-color: lightcyan;
  box-shadow: 0 0 10px black;
  text-align: center;
  padding: 10px;
}

main {
  width: 90%;
  margin: auto;
}

nav a {
  display: inline-block;
  background-color: aqua;
  border-radius: 4px;
  padding: 6px;
  margin: 8px;
  transition: 0.2s;
  text-decoration: none;
  color: black;
}

nav a:hover {
  background-color: rgb(10, 185, 185);
  cursor: pointer;
}